.card__like-button {
    background-image: url(../../../images/heart.svg);
    align-self: center;
    width: 22px;
    height: 19px;
    cursor: pointer;
}


.card__like-button:hover {
    opacity: .5;
}