.cards {
    margin: 51px auto 68px;
}

@media screen and (max-width: 1000px) {
    .cards {
        max-width: 581px;
    }
}

@media screen and (max-width: 550px) {
    .cards {
       margin: 37px auto 49px;
    }
}