.button_type_close-popup {
    background-image: url(../../../images/CloseIconPopup.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
}

.button_type_close-popup:hover {
    cursor: pointer;
    transition: .4s;
    opacity: .6;
}

@media screen and (max-width: 550px) {
    .button_type_close-popup {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}