@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/button/button.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/button/_type/button_type_change-avatar.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/button/_type/button_type_edit-info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/button/_type/button_type_add-card.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__list/cards__list.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/delete-button/card__delete-button.css);
@import url(./blocks/card/__panel/card__panel.css);
@import url(./blocks/card/__city/card__city.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/button/_type/button_type_close-popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input/_type/popup__input_type_job.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/button/_type/button_type_submit.css);
@import url(./blocks/button/_type/button_type_submit-inactive.css);
@import url(./blocks/button/_type/button_type_submit-delete.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup-places/button/popup-places__button.css);
@import url(./blocks/popup/__figure/popup____figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__fig-caption/popup__fig-caption.css);
@import url(./blocks/button/_type/button_type_avatar-submit.css);
@import url(./blocks/popup/__container/_type/popup__container_type_auth.css);
@import url(./blocks/popup/__title/_type/popup__title_type_auth.css);
@import url(./blocks/popup/__input/_type/popup__input_type_auth.css);
@import url(./blocks/button/_type/button_type_submit-auth.css);


