.header {
    min-height: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-top: 45px;
}

@media screen and (max-width: 700px) {
    .header {
        padding-top: 28px;
        margin-bottom: 40px;
        min-height: 55px;
    }
}